<%- include('header') -%>

<h1><%= title %></h1>
<p class="desc"><%= description %></p>

<h2>Skráningar á viðburð</h2>
<% if (signups.length === 0) { %>
  <p>Enginn skráður á viðburð... enþá!</p>
<% } else { %>
<ul>
<% signups.forEach((signup) => { %>
  <li><%= signup.name %></li>
  <p class="event-description"><%= signup.comment %></p>
<% }) %>
</ul>
<% } %>

<h2>Skráðu þig</h2>

<form method="post" action="/<%= slug %>" enctype="application/x-www-form-urlencoded">
  <div class="field<% locals.isInvalid('name', errors) ? ' field--invalid' : '' %>">
    <p class="login-type">Nafn*</p>
    <input type="text" name="name" id="name" value="<%= data.name %>" class="">
  </div>

  <div class="field<% locals.isInvalid('comment', errors) ? ' field--invalid' : '' %>">
    <p class="login-type">Athugasemd</p>
    <textarea name="comment" id="comment" class="comment" ><%= data.comment %></textarea>
  </div>
  </div>

    <input type="hidden" name="event" id="event" value="<%= id %>">

  <% if (errors.length > 0) { %>
    <h3 class="errors__title">Villur við skráningu:</h4>
    <ul class="errors">
      <% errors.forEach((error) => { %>
        <li class="error"><label for="<%= error.param %>"><%= error.msg%></label></li>
      <% }) %>
    </ul>
  <% } %>

  <button class="button button--large button--margin">Skrá mig</button>
</form>

<hr>

<div class="back">
  <p class="back-text"><a href="/">Til baka</a></p>
</div>
<%- include('footer') -%>
